body {
  background-color: #f3f3f3;
  color: #1a1a1a;
}

.header_section {
  background-color: #ffffff;

  &::before {
    background: #ccc;
  }
}

.navbar-brand img {
  filter: grayscale(100%) brightness(0.7);
}

.slider_section .slider_heading h2 {
  color: #1a1a1a;

  span {
    color: #444;
  }
}

.detail-box h1,
.detail-box hr,
.detail-box .btn-1 {
  color: #1a1a1a;
  background-color: #e0e0e0;
}

.about_section .about_container {
  background-image: none;
  background-color: #eaeaea;

  .detail-box a {
    background-color: #151615;
    color: #ffffff;
    box-shadow: none;

    &:hover {
      background-color: #ffffff;
      color: #151615;
    }
  }
}
